.container__carrousell{
  padding: 38rem 0 15rem 0;
  background-color: rgba(230, 230, 232, 1);
  position: relative;
    // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.carrousell__img{
  position: absolute;
  top:-7rem;
  // left: 0;
  // width: 50%;
  // // overflow: hidden;
  // height: auto;
  width: 100%;
  height: 50rem;
  // margin-bottom: 10rem;
  object-fit: contain;
}

.slide-img {
  object-fit: cover;
  // outline:1px solid red;
}

.splide {
  display: flex;
  // outline:1px solid rgb(0, 255, 174);
  background-color: rgba(230, 230, 232, 1);
  width: 100%;
  // flex-wrap: wrap;
  height: auto;
  // &::after{
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 5rem;
  //   background: linear-gradient(to top, rgba(255, 255, 255, 0),rgba(230, 230, 232, 1)); 
  // }
}

.splide__slide:not(.is-active) .slide-img {
  // opacity: 0.1;
  filter: brightness(0.3);
  // filter: blur(2px); 
  /* Aplicar desenfoque en las diapositivas no activas */
  transition: 300ms ease-out;

}

.splide__slide.is-active .slide-img {
  transition: 300ms ease-out;
  filter: none; 
  // box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.3);
  // opacity: 1;
  filter: none; /* Quitar el desenfoque en la diapositiva activa */
}

/* Ajuste adicional para evitar un desplazamiento de página al hacer clic en flechas */
.splide__arrow {
  z-index: 1;
}