.container__carrousell{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.slider{
  width: 1000px;
  height: 500px;
  border-radius: 15px;
  // overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slider input{
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}
.slice img{
  width: 100px;
  height: 500px;
}

.nav-manual{
  position: absolute;
  width: 1000px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;

}

.manual-btn:hover{
  background-color: yellow;
}

#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
.nav-auto{
  position: absolute;
  display: flex;
  width: 1000px;
  justify-content: center;
  margin-top: 460px;
}

.nav-auto div{
  border: 2px solid green;
  border-radius: 10px;
  padding: 5px;
  transition: 1s;
}

.nav-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
  background-color: yellow;
}
#radio2:checked ~ .nav-auto .auto-btn2{
  background-color: yellow;
}
#radio3:checked ~ .nav-auto .auto-btn3{
  background-color: yellow;
}