.container__carrousell{
  padding: 55rem 0 15rem 0;
  background-color: rgba(230, 230, 232, 1);
  position: relative;
    // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.carrousell__img{
  position: absolute;
  top:-18rem;
  // left: 0;
  // width: 50%;
  // // overflow: hidden;
  // height: auto;
  width: 100%;
  height: auto;
  margin-bottom: 10rem;
}

.slide-img {
  object-fit: contain;
  // outline:1px solid red;
}

.splide {
  display: flex;
  // outline:1px solid rgb(0, 255, 174);
  background-color: rgba(230, 230, 232, 1);
  width: 100%;
  // flex-wrap: wrap;
  // height: auto;
}

.splide__slide:not(.is-active) .slide-img {
  // opacity: 0.7;
  // filter: blur(4px); 
  /* Aplicar desenfoque en las diapositivas no activas */
}

.splide__slide.is-active .slide-img {
  transition: opacity 350ms ease-out;
  // box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: none; /* Quitar el desenfoque en la diapositiva activa */
}

/* Ajuste adicional para evitar un desplazamiento de página al hacer clic en flechas */
.splide__arrow {
  z-index: 1;
}