.form{
  &__container{
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    // border: 1px solid red;
    gap: 2rem;
    // padding: 2rem 0;
    input{
      color:#1F2622;
      // margin-bottom: 2rem;
      width: 40rem;
      height: 5rem;
      border-radius: 5px;
      border: none;
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }
    textarea{
      border: none;
      border-radius: 5px;
      width: 40rem;
      height: 10rem;
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }
    label{
      display: none;
    }
    :last-child{
      // display: none;
      border: 2px solid #1F2622;
      font-size: 1.8rem;
      font-weight: 600;
      // margin-top: 2rem;
      text-transform: uppercase;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
      transition:background-color 300ms ease-in-out;
      cursor: pointer;
      // width: 25%;
      background-color:  #1f262244;
      letter-spacing: 4px;
    }
    :last-child:hover{
      background-color:  #1f262229;
    }

  }
}

@media (max-width:750px){
  .form{
    &__container{
      display: flex;
      align-items: center;
      // justify-content: center;
      flex-direction: column;
      // border: 1px solid red;
      gap: 2rem;
      // padding: 2rem 0;
      input{
        width: 90%;
        
      }
      textarea{
        width: 90%;
        height: 15rem;
      }
    }
  }
}