.about{
  &__container{

    background-color: #e6e6e8;
    // min-height: 98vh;
    padding-bottom: 0rem;
    // position: relative;
    z-index: 1;
    color:#1f2622;
    // position: relative;
    overflow: hidden;
   
    outline: 1px solid red;
    // margin-left: 1rem;
    // width: 75%;
    display: flex;
    // align-items: center;
    justify-content: center;
    padding-top: 5rem;
    .container-text{
      // flex-direction: column-reverse;
      // background-color: red;
      span{
        margin-top: 2rem;
        font-size: 2.4rem;
        font-weight: 600;
      }

    }
    .container{
      display: flex;
      width: 100%;
      flex-direction: row;
      position: relative;
      min-height: 100vh;
      padding-right: 0;
        img{
          // outline: 2px solid yellow;
          width: 30rem;
          height: auto;
        }
      }
      h3{
        // outline: 1px solid red;
        font-size: 4rem;
        margin-bottom: 2rem;
      }
      p{
        margin-right: 3rem;
        font-size: 2.4rem;
        margin-bottom: 2rem;
      }
  }
}


@media (max-width:750px){
  .about{
    &__container{
      padding: 0;
      &-text{
        // outline: 1px solid red;
        margin-left: 2rem;
        padding-right: 6rem;
        width: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 5rem;
        h3{
          // outline: 1px solid red;
          font-size: 4rem;
          margin-bottom: 2rem;
        }
        p{
          font-size: 2.4rem;
          margin-bottom: 2rem;
          
          span{
            font-size: 2.4rem;
            font-weight: bold;
          }
        }
        span{
          margin-top: 2rem;
          font-size: 2.4rem;
          font-weight: bold;
        }
        &>div{
          display: flex;
          // width: 100%;
          // flex-direction: row-reverse;
          // background-color: red;
          position: relative;
          img{
            left: 50rem;
            top: -5rem;
            position: absolute;
            width: 100rem;
            height: auto;
            filter: grayscale(0.7);
            opacity: 0.6;
            object-fit: cover;
          }
        }
      }
    
    }
  
  }
}