.contact{
  &__container{
    background-color: #e6e6e8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    min-height: 0rem;
    &-box{
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 4rem;
      overflow: hidden;
      flex-wrap: wrap;
      padding:8rem 10rem 10rem 10rem;
      h2{
        font-size: 4.5rem;
        margin-bottom: 3rem;
      }
      &>div{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &-box-2{
      transform: translateY(-4rem);
    }
    &-img{
      z-index: 1;
      width: 30rem;
      height: auto;
      margin-bottom: 2.5rem;
    }
    &-icons{
      border-top: 1.8px solid #1f262285;
      margin-top: -5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75%;
      height: auto;
      gap: 3rem;
      padding-top: 2.5rem;
      &-wpp{
        width: 4.3rem;
        height: auto;
      }
      &-insta{
        width: 5.5rem;
        height: auto;
        margin-left: 0.5rem;
      }
      &-mail{
        width: 5.5rem;
        height: auto;
      }
      a{
        transition: 250ms ease-out;
      }
      a:hover{
        transform: scale(1.07);
      }
    }
    .phone{
      width:100%;
      padding: 2rem 0 0 2.8rem;
      display: flex;
      align-items: center;
      font-size: 2rem;
      img{
        width: 6rem;
        height: auto;
      }
    }
  }
}
@media (max-width: 750px){
  .contact{
    &__container{
      background-color: #e6e6e8;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow-y: hidden;
      min-height: 55rem;

      &-box{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 4rem;
        overflow: hidden;
        flex-direction: column-reverse;
        padding:0rem 10rem 10rem 10rem;
        h3{
          font-size: 3rem;
          margin-bottom: 2rem;
          margin-top: -2rem;
        }
        &>div{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      &-box-2{
        transform: translateY(-2rem);
      }
      &-img{
        z-index: 1;
        width: 22rem;
        height: auto;
        margin-bottom: 2.5rem;
      }
      
      &-icons{
        border-top: 1.8px solid #1f26229d;
        margin-top: -4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: auto;
        gap: 1.5rem;
        padding-top: 2rem;
        &-wpp{
          width: 3.8rem;
          height: auto;
        }
        &-insta{
          width: 5rem;
          height: auto;
          margin-left: 0.5rem;
        }
        &-mail{
          width: 5rem;
          height: auto;
        }
        a{
          transition: 250ms ease-out;
        }
        a:hover{
          transform: scale(1.07);
        }
      }
      .phone{
        width:90%;
        padding: 1.5rem 0 0 0.5rem;
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        img{
          width: 5rem;
          height: auto;
        }
      }
    }
  }
}