nav{
  position: fixed;
  width: 100%;
  z-index: 4;
  &.scrolled {
    backdrop-filter: blur(8px);
  }
  
  &>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul{
    // transition: margin 0.9s ease-out; 
    margin-top: 4rem;
    min-height: 6rem;
    display: flex;
    // align-items: center;
    justify-content: end;
    list-style: none;
    font-weight: 700;
    //background-color: red;
    gap: 7rem;
    color: #1F2622;
    a{
      // letter-spacing: 1px;
      font-size: 2rem;
      //text-transform: uppercase;  
      text-decoration: none;
      color: inherit;
    }
  }
  .logo{
    // border: 1px solid red;
    transition: .6s ease;
    // position: absolute;
    // display: flex;
  }
}