nav{
  position: fixed;
  width: 100%;
  z-index: 4;
  &.scrolled {
    backdrop-filter: blur(5px);
  }
  
  &>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul{
    // transition: margin 0.9s ease-out; 
    margin-top: 4rem;
    min-height: 6rem;
    display: flex;
    // align-items: center;
    justify-content: end;
    list-style: none;
    font-weight: 700;
    //background-color: red;
    gap: 7rem;
    color: #1F2622;
    a{
      // letter-spacing: 1px;
      font-size: 2rem;
      //text-transform: uppercase;  
      text-decoration: none;
      color: inherit;
      text-shadow: 1px 1px 3.5px rgba(255, 255, 255, 0.7);
      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .3s;
    }
    a:hover, a:focus {
      background-size: 100% 2px;
    }
  }
  .logo{
    // border: 1px solid red;
    transition: .6s ease;
    // position: absolute;
    // display: flex;
  }
}