.description__box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(230, 230, 232, 1);
  position: relative;
  overflow: hidden;

  &::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to top, rgba(255, 255, 255, 0),rgba(230, 230, 232, 1)); 
  }
  .imgMob{
    display: none;
  }
  .img{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  &::before{
    position: absolute;
    content: "";
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0),rgba(230, 230, 232, 1)); 
  }

  p{
    color: #1F2622;
    margin-left: 2rem;
    font-size: 3rem;
    font-family: 'Galano Grotesque Alt', sans-serif;
    width: 90%;
    span{
      color: #1F2622;
      font-size: 3rem;
      font-weight: 600;
      font-family: 'Galano Grotesque Alt', sans-serif;
      // display: block;
    }
  }
}

@media(max-width:750px){
  .description__box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(230, 230, 232, 1);
    position: relative;
    overflow: hidden;
  
    &::after{
      display: none;
      position: absolute;
      content: "";
      top: .5rem;
      left: 0;
      width: 100%;
      height: 5rem;
      background: linear-gradient(to top, rgba(255, 255, 255, 0),rgba(230, 230, 232, 1)); 
    }
  
    // img{
    //   transform: translateY(-3rem);
    //   width: 45rem;
    //   height: 40rem;
    //   object-fit: cover;
    // }
    .img{
      display: none;
    }
    .imgMob{
      display: block;
      margin-left: -2rem;
      width: 25rem;
      height: auto;
      object-fit: cover;
      // outline: 1px solid red;
    }
  
    &::before{
      display: none;
      z-index: 1;
      position: absolute;
      content: "";
      bottom: 1rem;
      left: 0;
      width: 100%;
      height: 3rem;
      background: linear-gradient(to bottom, rgba(143, 34, 34, 0),rgba(230, 230, 232, 1)); 
    }
  
    p{
      // outline: 1px solid red;
      width: 90%;
      color: #1F2622;
      margin-bottom: 1rem;
      margin-left: 0rem;
      font-size: 1.6rem;
      font-family: 'Galano Grotesque Alt', sans-serif;
      span{
        color: #1F2622;
        font-size: 1.6rem;
        font-weight: 600;
        font-family: 'Galano Grotesque Alt', sans-serif;
        display: inline;
      }
    }
  }
}